body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    background-color: #fffaaa;
}

#header span {
    visibility: hidden;
    background-color: blueviolet;
    padding: 0px 7px 0px 7px;
    border-radius: 5px;
    font-size: 15px;
    color: aliceblue;
    float: right;
    z-index: 1;
}

#title {
    display: inline-block;
    width: auto;
    height: 40px;
    font-size: 35px;
    margin: 0px;
    padding-left: 10px;
}

#log_in_out {
    width: 40px;
    height: 40px;
    float: right;
    margin-right: 3px;
    box-sizing: inherit;
}

#header {
    background-color: #039be5;
    color: #ffffff;
    padding: 25px 5px 25px 5px;
}

body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #262f3d;
    overflow-x: hidden;
}

.sidenav a {
    margin-left: 10px;
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav span {
    padding: 16px 8px 16px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    background-color: #2a546b;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 250px;
    /* Same as the width of the sidenav */
    font-size: 28px;
    /* Increased text to enable scrolling */
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}