.diva1,
#day {
    color: black;
    display: inline-block;
    width: 114px;
    text-align: center;
    font-weight: bolder;
    font-size: 13px;
}

.diva {
    margin: 17px;
    width: 117px;
    height: 24px;
    border-radius: 5px;
    background-color: #eceff1;
    text-align: center;
}

#con1,
#con2 {
    background-color: #ffffff;
    margin: 10px;
    width: 1000px;
    border-radius: 20px;
    border: 1px solid #d2d2d2;
    display: inline-block;
    text-align: center;
    padding: 10px;
}

button {
    border-radius: 9px;
    margin-top: 4px;
    background-color: #039be5;
    color: #ffffff;
    margin: 20px;
    font-size: 20px;
    padding: 5px 30px 5px 30px;
    display: inline-block;
}

textarea {
    margin-bottom: 10px;
    width: 111px;
    height: 30px;
    border-radius: 5px;
    padding-top: 5px;
    font-size: 13px;
    background-color: #f1f1ec;
    text-align: center;
}

#from {
    width: 160px;
}

html {
    background-color: #f1f1ec;
}

.timeFrom {
    width: 150px;
}